.ReactModal__Overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 200ms ease-in-out;
}

.ReactModal__Overlay--after-open {
  opacity: 1;
}

.ReactModal__Overlay--before-close {
  opacity: 0;
}

.ReactModal__Content {
  display: flex;
  flex-direction: column;
}

.modal {
  background: lighten($color: $grey, $amount: 45%);
  max-width: 30rem;
  outline: none;
  padding: $l-size;
  text-align: center;
  border-radius: 3px;
}

.modal__title {
  margin: 0 0 $m-size 0;
  line-height: 1.5;
}
